
$grid-gap: 10px;

$primary-color: white;
$secondary-color: black;

body {
    width: 74%;
    padding: 2rem;
    background-color: $primary-color;
    border: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap;
}

#searchInput{
    width: 20%;
    padding: 10px;
    
}

#searchButton {
    padding: 10px;
}


.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid;
    margin: 20px 20px 0 0;
    position: relative;
}

video {
    width: 100%;
    max-width: 300px;
}

.favorite {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 24px;
    cursor: pointer;
    color: gray; 
}


.favorite::before {
    content: "\2606"; 
}

.favorite-active::before {
    content: "\2605"; 
    color: #f1c40f; 
}

#pagination {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#pagination button.active {
    background-color: #007bff;
    color: white;
    cursor: default;
}



