
$grid-gap: 10px;

$primary-color: white;
$secondary-color: black;

body {
    width: 74%;
    padding: 2rem;
    background-color: $primary-color;
    border: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap;
}

#searchInput{
    width: 20%;
    padding: 10px;
    
}

#searchButton {
    padding: 10px;
}


.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid;
    margin: 20px 20px 0 0;
}

video {
    width: 100%;
    max-width: 200px;
}

.favorite {
    padding: 0;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: color 0.3 ease;
}

.favorite-active{
    color: yellow;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}



